server:
    port: ${PORT:8080}
spring:
    application:
        name: newcred
    datasource:
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}
      driver-class-name: org.postgresql.Driver
      hikari:
        maximum-pool-size: 5
        minimum-idle: 1
        idle-timeout: 600000
        max-lifetime: 1800000
        connection-timeout: 30000
    jpa:
      hibernate:
        ddl-auto: none
      open-in-view: false

meta:
  base-url: https://graph.facebook.com
  version: v22.0
  phone-number-id: ${META_PHONE_NUMBER_ID}
  token: ${META_TOKEN}

app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:http://localhost:3000}

logging:
  level:
    com.zaxxer.hikari: INFO